// ---------------------------------------------------------------------------
// COLORS
// ---------------------------------------------------------------------------

$c-black: #000000;
$c-white: #ffffff;
$c-gray: #cccccc;

// ---------------------------------------------------------------------------
// FONTS
// ---------------------------------------------------------------------------

$fs-tiny: 10px;
$fs-xxxs: 12px;
$fs-xxs: 14px;
$fs-base: 16px;
$fs-xs: 18px;
$fs-sm: 21px;
$fs-md: 24px;
$fs-md-lg: 30px;
$fs-lg: 36px;
$fs-xl: 48px;
$fs-xxl: 64px;
$fs-xxxl: 72px;

$ff-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// ---------------------------------------------------------------------------
// BREAKPOINTS
// ---------------------------------------------------------------------------

$xxs: 380px;
$xs: 450px;
$sm: 600px;
$md: 768px;
$lg: 960px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1800px;

// ---------------------------------------------------------------------------
// SPACING
// ---------------------------------------------------------------------------

$site-padding-sm: 20px;
$site-padding-md: 40px;
$site-padding-lg: 60px;
$site-padding-xl: 80px;
$site-padding-xxl: 100px;
$site-padding-xxxl: 120px;

$site-margin-sm: 20px;
$site-margin-md: 40px;
$site-margin-lg: 60px;
$site-margin-xl: 80px;
$site-margin-xxl: 100px;
$site-margin-xxxl: 120px;

// ---------------------------------------------------------------------------
// Z-INDEX
// ---------------------------------------------------------------------------

$z-index-0: 0;
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;
$z-index-5: 50;
$z-index-6: 60;
$z-index-7: 70;
$z-index-8: 80;
$z-index-9: 90;
$z-index-10: 100;

// ---------------------------------------------------------------------------
// Easing
// ---------------------------------------------------------------------------

$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);

$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);

$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);

$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.23, 1, 0.32, 1);

$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);

$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$easeInOutFast: cubic-bezier(1, 0, 0, 1);
