// ---------------------------------------------------------------------------
// About
// ---------------------------------------------------------------------------

.page-inner {
  padding: 120px 20px;

  @include mq($md) {
    padding: 140px 50px 30px;
  }
}

.page-width {
  max-width: 1200px;
  margin: 0 auto;
}

.content__width {
  max-width: 900px;
}
