// ---------------------------------------------------------------------------
// Page
// ---------------------------------------------------------------------------

.site-page {
  padding-top: 135px;

  @include mq($md) {
    padding-left: 250px;
  }

  @include mq($lg) {
    padding-left: 300px;
  }
}

.g-upper-body {
  padding: 0;
}
