// ---------------------------------------------------------------------------
// Custom Header
// ---------------------------------------------------------------------------

.masthead {
  background-color: $c-white;
  z-index: 20;
}

.custom-header {
  align-items: center;
  border-bottom: 1px solid $c-gray;
  display: flex;
  padding: 0 0 0 15px;
  position: relative;

  a {
    align-items: center;
    box-shadow: none;
    display: flex;
  }

  &--has-sidebar {
    @include mq($md) {
      padding-left: 250px + 15;
      height: 70px;
    }

    @include mq($lg) {
      padding-left: 300px + 15;
    }
  }

  nav {
    align-self: stretch;
    display: flex;
    justify-self: flex-end;
    margin-left: auto;

    a {
      color: $c-black;
      padding: 5px 15px;
    }

    a:hover {
      background: $accent;
      color: $c-white;
    }
  }
}

.custom-header__logo {
  max-width: 220px;
  width: 100%;
}

.nav-search-container {
  @include fixed(77px 0 x);
  height: 70px;
  border-bottom: 1px solid $c-gray;
  background: $c-white;
  opacity: 0;
  visibility: hidden;

  @include mq($md) {
    top: 70px;
    border-left: 1px solid $c-gray;
    left: auto;
    width: 400px;
  }

  .show-search & {
    opacity: 1;
    visibility: visible;
  }
}

.show-search {
  .search-trigger {
    .fa-search {
      &:before {
        content: "\f00d";
      }
    }

    .fa {
      font-size: 16px;
    }
  }
}

.search-trigger {
  @include reset-input;
  align-self: stretch;
  border-left: 1px solid $c-gray;
  color: $accent;
  cursor: pointer;
  width: 70px;

  &:hover {
    background: $accent;
    border-color: $accent;
    color: $c-white;
  }
}

.nav-search-field {
  @include reset-input;
  @include absolute(0);
  padding-left: 20px;
  font-family: inherit;
  color: $c-black;
}

.nav-search-button {
  @include reset-input;
  @include absolute(0 0 0 x);
  background: $c-white;
  border-left: 1px solid $c-gray;
  color: $accent;
  cursor: pointer;
  width: 70px;

  &:hover,
  &:focus {
    background: $accent;
    border-color: $accent;
    color: $c-white;
  }
}
