// Upper Body
//------------------------------------------------------------------------------
.g-upper-body {
  h1.headline {
    font-family: $font-headline;
    font-size: 36px;
    line-height: 40px;
    font-weight: 200;
    color: $black;
    margin: 0 0 5px;

    @include tablet {
      font-size: 42px;
      line-height: 48px;
      // margin: 40px 0 5px;
    }
    @include desktop {
      font-size: 44px;
      line-height: 48px;
      // margin: 40px 0 5px;
    }
  }
}

// Body
//------------------------------------------------------------------------------
.g-body {
  .g-main-content {
    margin: 40px auto 0;
    padding-top: 40px;
  }

  .g-main-content {
    border-top: 5px solid $gray-60;
    word-break: break-word; // force break on very long lines without spaces

    table {
      word-break: keep-all; // don't word break inside tables
    }

    p,
    ul,
    li,
    dt,
    dd {
      font-family: $font-sans;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.4;

      @include tablet {
        font-size: 1.125rem;
        line-height: 1.5;
      }
      @include desktop {
        font-size: 1.125rem;
        line-height: 1.5;
      }
    }

    // emulate google docs spacing
    // @FIXME: touch this up in the actual markup rather than hiding through css
    & > p {
      margin: 0;

      &:first-of-type {
        margin-top: 1em;
      }

      &:empty {
        height: 1.125rem;
      }
    }

    h1 {
      font-size: 45px;
    }

    h2 {
      font-weight: 400;
      font-size: 32px;
    }

    img {
      max-width: calc(100vw - 80px);
      display: block;
      margin: 20px 0;

      @include tablet {
        max-width: 580px;
      }
      @include desktop {
        max-width: 580px;
      }
    }

    /* google output sometimes breaks <li>s across separate
       parent <ul>s, they apply margin:0 in default output
       so that they are visually contiguous */
    ul,
    ol {
      padding: 0;

      &:not(:first-child) {
        margin-top: 15px;
      }

      li {
        &:not(:first-child) {
          margin-top: 5px;
        }
        position: relative;
        padding-left: 25px;

        &:before {
          padding-right: 6px;
          position: absolute;
          font-size: 0.7em;
          left: 0;
          padding-top: 0.45em;
          font-weight: 700;
          color: $accent;
        }
      }
    }

    .children-container {
      margin: 40px 0 40px 0;
      padding: 20px 0px 20px 40px;
      border: 1px solid $gray-60;
      -webkit-box-shadow: -4px -4px 0px 0px #efefef;
      -moz-box-shadow: -4px -4px 0px 0px #efefef;
      box-shadow: -4px -4px 0px 0px #efefef;
      position: relative;

      h3 {
        margin: 0 0 20px -20px;
        font-weight: 600;
      }

      // #category-page & {
      //   display: flex;
      //
      //   .children {
      //     column-count: 1;
      //     padding-left: 20px;
      //   }
      //   h3 {
      //     margin-left: 20px;
      //   }
      // }
    }

    ul.children {
      padding-left: 5px;
      list-style-type: none;

      // @include tablet{
      //   column-count: 2;
      //   -moz-column-count: 2;
      //   -moz-columns: 2;
      //   -webkit-columns: 2;
      //   columns: 2;
      //   column-gap: 2.67em;
      // }
      //
      // @include desktop{
      //   column-count: 2;
      //   -moz-column-count: 2;
      //   -moz-columns: 2;
      //   -webkit-columns: 2;
      //   columns: 2;
      //   column-gap: 2.67em;
      // }

      .foldericon {
        color: #444;
        margin-right: 7px;
        font-size: 14px;
        margin-left: -24px;
      }

      li {
        text-indent: 0;
        padding-right: 15px;
        font-size: 16px;
        line-height: 1.6;
        box-sizing: border-box;

        a {
          color: $black;
        }
      }
    }

    /* nested lists */
    ul.level-1 li,
    ol.level-1 li {
      margin-left: 20px;
    }

    ul.level-2 li,
    ol.level-2 li {
      margin-left: 40px;
    }

    ul.level-3 li,
    ol.level-3 li {
      margin-left: 60px;
    }

    ul.level-4 li,
    ol.level-4 li {
      margin-left: 80px;
    }

    ul.level-5 li,
    ol.level-5 li {
      margin-left: 100px;
    }

    pre {
      counter-reset: line-numbering;
      background: $accent-lightest;
      padding: 0px 0px 20px 0;
      width: 600px;
      color: $black;

      .line {
        display: flex;
        margin: 0 0 1px;
      }

      .line-content {
        flex: 1 auto;
      }

      .line-number::before {
        content: counter(line-numbering);
        counter-increment: line-numbering;
        padding-right: 1em;
        /* space after numbers */
        padding-left: 8px;
        width: 1.5em;
        text-align: right;
        opacity: 0.5;
        color: $gray-45;
      }

      &:before {
        display: block;
        width: calc(100% - 10px);
        height: 20px;
        content: "Code";
        background: #eee9e9;
        color: $gray-45;
        padding-left: 10px;
        margin-bottom: 10px;
        margin-top: 20px;
        line-height: 20px;
      }
    }

    code {
      background: $accent-lightest;
      color: $accent-dark;
      padding: 1px 0px;
      margin: 0 4px;
      -webkit-box-shadow: 4px 0px 0px $accent-lightest,
        -4px 0px 0px $accent-lightest;
      -moz-box-shadow: 4px 0px 0px $accent-lightest,
        -4px 0px 0px $accent-lightest;
      box-shadow: 4px 0px 0px $accent-lightest, -4px 0px 0px $accent-lightest;
      -webkit-box-decoration-break: clone;
      -moz-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }

  #g-search-page {
    padding: 0;
    margin: 0 auto;
    border-top: none;

    h3.search-kicker {
      margin: 20px 0;
      font-weight: 600;
    }

    .search-result {
      a.folder {
        span {
          // background: #f0f0f0;
          // color: #483d8b;
          // padding: 3px 7px;
          // font-weight: 400;
          background: $gray-80;
          color: #666;
          padding: 3px 6px;
          font-weight: 400;
          font-size: 13px;
          border-radius: 3px;
        }
        &:hover {
          text-decoration: none;

          span {
            background: $accent-lightest;
            color: $black;
          }
        }
      }
      .author {
        font-weight: 400;
      }
      p {
        font-size: 15px;
        margin: 0;
        line-height: 24px;
        @include tablet {
        }
        @include desktop {
          line-height: 32px;
        }
      }
      h3 {
        font-weight: 400;
        margin: 20px 0 1px 0;
      }
    }
  }

  .g-footer {
    margin: 80px 0 0;
    border-top: 1px solid $gray-50;
    padding: 30px 0px 0;

    p {
      font-family: $font-sans;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      margin: 0;
    }
  }
  .g-footer-shorter {
    margin: 60px auto;
  }
}
