// Top Banner
//------------------------------------------------------------------------------
.masthead {
  position: fixed;
  background: $masthead-background;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000000090;
  color: $elem-link-color;

  .container {
    position: relative;
    min-height: 49px;
  }
}

// Search
//------------------------------------------------------------------------------
.search-container {
  vertical-align: middle;
  white-space: nowrap;
  height: 70px;
  margin-bottom: 50px;
  position: relative;

  .tt-menu {
    background-color: inherit;
    border-color: $gray-40;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    // compensate for border
    width: 100%;
    left: -1px !important;
  }

  .twitter-typeahead {
    font-style: normal;
    font-family: $font-sans;
    font-size: inherit;
    font-weight: 400;
    position: relative;
    height: 70px;
    width: 100%;
    transition: background-color 0.3s;
    display: inline-block;
    border: 1px solid $gray-40;
    background: $white;
    color: $black;
    float: left;
    padding-left: 15px;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      border-color: $accent;
    }
  }

  .icon {
    position: absolute;
    z-index: 10;
    border: none;
    background: $accent;
    height: 70px;
    width: 70px;
    top: 0; // compensate for top border
    right: 0; // compensate for right border
    color: $white;
    opacity: 1;
    font-size: 12pt;
    cursor: pointer;
  }

  &:hover {
    .icon:hover {
      background: $accent;
    }
  }

  input::-webkit-input-placeholder,
  input:-moz-placeholder,
  input:-ms-input-placeholder {
    color: $gray-45;
  }
  input:focus::-webkit-input-placeholder,
  input:focus:-moz-placeholder,
  input:focus:-ms-input-placeholder {
    opacity: 0;
  }
}

.additional-menus {
  clear: both;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
