<div class="user-tools">
  <% if (locals.topNav && locals.topNav.length) { %>
    <% locals.topNav.forEach((item) => { %>
      <% if (item.prettyName === 'Homepage') { %>
        <a href="/">Home</a>
      <% } else { %>
        <a href="<%- item.path %>"><%- item.prettyName %></a>
      <% } %>
    <%  }) %>
  <% } %>
</div>