<div class="search-topper">
  <form method="GET" action="/search" class="search-container">
    <% const placeholder = template('search.placeholder')%>
    <% const focus = locals.focus || '' %>
    <% const msgOnFocus = placeholder || '' %>
    <input <%= focus %> id="search-box" class="twitter-typeahead" type="text" name="q" value="<%= locals.q %>" placeholder="<%- placeholder %>" />
    <button class="icon"><i class="fa fa-search"></i></button>
  </form>
</div>
