<nav class="custom-sidebar">
  <div class="custom-sidebar__heading">
    <h3 class="custom-sidebar__h">Table of Contents</h3>
  </div>
  <div class="custom-sidebar__content">
    <ol class="custom-sidebar__list">
      <li class="custom-sidebar__list-item">
        <a href="/" class="custom-sidebar__title-link"><%= title %></a>
        <ul class="custom-sidebar__sub-list">
          <% sections.forEach((section) => { %>
          <li class="custom-sidebar__sub-list-item">
            <a href="<%- section.url %>" class="custom-sidebar__link"
              ><%= section.name %></a
            >
          </li>
          <% }) %>
        </ul>
      </li>
      <li class="custom-sidebar__list-item">
        <a href="/" class="custom-sidebar__title-link"
          >Respiratory Support for COVID-19 Patients</a
        >
      </li>
      <li class="custom-sidebar__list-item">
        <a href="/" class="custom-sidebar__title-link"
          >COVID-19 Therapies and Clinical Trials</a
        >
      </li>
    </ol>
  </div>
</nav>
