// custom.scss
//
// THIS IS A TEMPLATE!
//
// Copy this file to custom/style, rather than editing it in place.
// node-sass will automatically resolve the file in custom first.
// This file is included as a placeholder so the import in style.scss does not break.
//
//
// After copying, put your custom scss in this file, or other sibling folders in custom/style directory.
// This file is imported last in the core styles stack, so style here will take precendence.

//
// // Write your styles directly here
// h1 {
//   color: green;
// }
//
//
// // or import them from a nearby file
// @import "more-custom-stuff";

// ---------------------------------------------------------------------------
// BASE STYLES
// ---------------------------------------------------------------------------
@import "custom/base/variables";
@import "custom/base/mixins-helpers";
@import "custom/base/global";
@import "custom/base/print";

// ---------------------------------------------------------------------------
// PAGES
// ---------------------------------------------------------------------------
@import "custom/pages/about";
